/* Common Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 90%;
    height: auto;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1{
    font-size: 60px;
    font-weight: bold;
    cursor: default;
    color: #575757; 
}

p{
    font-size: 20px;
    font-weight: normal;
    color: #7a7a7a;
    margin: 15px 5px;
}

a{
    padding: 10px 30px;
    margin: 10px 0px;
    border-radius: 25px;
    background-color: red;
    text-decoration: none;
    font-weight: bold;
    color: wheat;
}

a:hover{
    background-color: rgb(250, 183, 59);
    color: white;
    zoom: 110%;
}

span{
    color: orange;
    font-weight: bold;
}

.container{
    /* margin: 20px; */
    display: flex;
    justify-content: space-between;

}

.container > *{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Header Css */

.top-body-text{
    margin: 0px;
    width: 50%;
    text-align: center ;
    padding-top: 10%;
    position: relative;
}

/* Marquee Design */

.marquee{
    position: absolute;
    top: 10%;
    color: red;
}

/* .top-body-text a:hover{
    background-color: rgb(250, 183, 59);
    color: white;
    zoom: 110%;
} */

.top-body-img{
    width: 40%;
    align-items: center;
}

/* Middle Body Css */
#mid-body{
    background: url(images/shapes/Frame\ 56.jpg);
    
    margin: 5% 1%;
}

.mid-body-text h2{
    color: #2e2e2e;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.mid-body-text p{
    color: rgb(1, 58, 107);
    font-size: 18px;
    margin: 20px 10px;
}

.mid-body-text{
    margin: 12% 10px;
}

.concet-me-button{
    margin-top: 30px;
    text-align: center;
} 

 .mid-body-img{
    margin: 10px;
    width: 40%;
    justify-content: center;
    align-items: center;
} 

/* Lower Body css */

#lower-body{
    display: flex;
    flex-direction: column;
    margin: 5% 0%;
    
}
#lower-body > *{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.lower-body-text{
    margin-bottom: 10px;
    text-align: center;
}
.lower-body-text h2{
    color: #676767;
    font-size: 30px;
    font-weight: bold;
}
  
.lower-body-text p{
    margin: 12px;
    font-size: 16px;
}

.lower-body-recipe{
    display: flex;
    flex-direction: row;  
}

.lower-body-recipe img{
    margin: 12px;
    width: 90%;
    align-items: center;
}


.lower-body-recipe p{
    font-size: 16px;
}

.lower-body-box{
    width: 30%;
    margin: 0 5%;
    background-color: rgba(255, 223, 162, 0.26);
    box-shadow: 20px 30px 40px gray;
    border-radius: 20px;

}

.lower-body-box:hover{
    background-color: rgb(190, 237, 255);
    zoom: 101%;
}

.lower-body-box img{
    border-radius: 20px;
}

.lower-body-box h3{
    margin: 10px;
    font-size: 26px;
    font-weight: 800;
    
}
.lower-body-box p{
    margin: 12px;
}

/* Our Reach Section */
#Our-Reach{
    margin: 5%  ;
    padding: 20px 0px;
    background-color: rgba(255, 120, 96, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow:  10px 10px 30px gray;
}

/* Contact Us */
.Contact-here{
    margin: 15px; 
    text-align: center;
    
}
.Contact-here h1{
    font-size: 40px;
    color: rgb(255, 153, 58);
}

#Contact-Us{
    background: url(images/shapes/Frame\ 59.jpg) no-repeat;
    
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(255, 208, 122, 0.308); */
    border-radius: 20px;
}


.form-design{
    width: 80%;
    padding: 8px;
    margin: 10px;
    border-bottom: 2px solid;
    border-radius: 10px;
}

#submit{
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(255, 154, 154);
    background-color: rgb(255, 166, 0);
    color: rgb(255, 255, 255);
}
#submit:hover{
    background-color: #2e2e2e;
    color: white;
    
}

label{
    font-weight: bold;
}
::placeholder{
    color: rgb(13, 14, 13);
    opacity: .5;
    font-size: 18px;
}
/* footer Part */

footer{
    text-align: center;
    padding: 1.5% 0%;
    background-color: black;
}

footer h2{
    color: wheat;
    font-size: 20px;
}
footer p{
    color: wheat;
    font-size: 16px;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer a{
    margin: 5px;
    padding: 5px 8px;
    text-align: center;
    background-color: #2e2e2e;
    border-radius: 50%;

}