/* Common Css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 90%;
    height: auto;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}

h1{
    font-size: 60px;
    font-weight: bold;
    color: #575757;
}

p{
    font-size: 20px;
    font-weight: normal;
    color: #7a7a7a;
    margin: 15px 5px;
}

a{
    padding: 10px 30px;
    margin: 10px 0px;
    border-radius: 25px;
    background-color: red;
    text-decoration: none;
    font-weight: bold;
    color: wheat;
}

a:hover{
    background-color: rgb(250, 183, 59);
    color: white;
    zoom: 110%;
}

span{
    color: orange;
    font-weight: bold;
}

.container{
    /* margin: 20px; */
    display: flex;
    justify-content: space-between;

}

.container > *{
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

/* Header Css */

.top-body-text{
    margin: 0px;
    width: 50%;
    text-align: center ;
    padding-top: 10%;
    position: relative;
}

/* Marquee Design */

.marquee{
    position: absolute;
    top: 10%;
    color: red;
}

/* .top-body-text a:hover{
    background-color: rgb(250, 183, 59);
    color: white;
    zoom: 110%;
} */

.top-body-img{
    width: 40%;
    align-items: center;
}

/* Middle Body Css */
#mid-body{
    background: url(images/shapes/Frame\ 56.jpg);
    
    margin: 5% 1%;
}

.mid-body-text h2{
    color: #2e2e2e;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.mid-body-text p{
    color: rgb(1, 58, 107);
    font-size: 18px;
    margin: 20px 10px;
}

.mid-body-text{
    margin: 12% 10px;
}

.concet-me-button{
    margin-top: 30px;
    text-align: center;
} 

 .mid-body-img{
    margin: 10px;
    width: 40%;
    justify-content: center;
    align-items: center;
} 